<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root">
        first name :
        <input type="text" v-model="firstname"><br>
        last name :
        <input type="text" v-model="lastname"><br>
        fullname :
        <span>{{fullname()}}</span>
    </div>
</body>
<script>
    const vm ={
    data(){
        return{
            firstname:"kaku",
            lastname:"nasa"
        }
    },
    methods:{
        fullname(event){
            return this.firstname + this.lastname
        },
    }
}
Vue.createApp(vm).mount("#root")
</script>
</html>